body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "inter";
  min-width: 500px;
}

.gameContainer {
  height: 562px;
  background-color: #f9f8f6;
}
#title {
  font-family: "inter";
  padding: 30px;
  margin: 0;
  text-align: center;
}
.infoBoxes {
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  width: 70%;
}
.infoBox {
  border: solid 1px #c9b59c;

  background-color: #efe9e3;
  width: 120px;
  margin: auto;
  height: 100%;
  border-radius: 5px;
  text-align: center;
}

.seesawContainer {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 500px;
  min-width: 450px;
  /* //background-color: rgba(0, 0, 0, 0.115); */
  height: 300px;
  border-radius: 10px;
}
.clicable {
  padding: 90px 20px;
  height: 200px;
  width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-color: rgba(255, 166, 179, 0.405); */
  z-index: 1;
  cursor: pointer;
}
#seesawPlank {
  width: 400px;
  height: 20px;
  background-color: #c9b59c;
  border: 1px solid #6b5e4f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s;
}
.infoBox h3 {
  margin: 2px;
}
#cursorPoint {
  position: relative;
  left: -5px;
  left: 0;
  top: 22px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
}

#pivot {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 60px solid #9c9c9c;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.logsContainer {
  margin: 0;
  padding-top: 10px;
  height: 500px;
  background-color: #f9f8f6;
}
#resetBtn {
  font-family: "inter";
  font-weight: 500;
  background-color: rgba(51, 51, 51, 0.05);
  display: flex;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
}

.log {
  display: flex;
  margin: auto;
  width: 70%;
  background-color: #f9f8f6;
  color: #333;
  list-style: none;
  margin-top: 10px;
  border-radius: 8px;
  height: 30px;
  padding-left: 10px;
  padding-top: 5px;
  animation: createCircle 0.5s;
}

.logUl {
  position: relative;
  text-align: center;
  font-weight: 500;
  margin: auto;
  margin-top: 20px;
  width: 70%;
  height: 300px;
  overflow: auto;
  scrollbar-color: #707070 #cacaca;
  padding-bottom: 10px;
  background-color: #efe9e3;
  border-radius: 10px;
}

.logUl .title {
  position: sticky;
  top: 0;
  background-color: #efe9e3;
  height: 40px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes createCircle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
