body {
  margin: 0;
  padding: 0;
}

.gameContainer {
  height: 562px;
  background-color: #134686;
}
#title {
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #ed3f27;
}
.infoBoxes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}
.infoBox {
  background-color: #fdf4e3;
  width: 100px;
  margin: auto;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  color: #ed3f27;
}

.seesawContainer {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 70%;
  min-width: 450px;
  background-color: rgba(0, 0, 0, 0.245);
  height: 300px;
  border-radius: 10px;
}
#seesawPlank {
  width: 400px;
  height: 20px;
  background-color: #ffc052;
  border: 1px solid #7c1b1c;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: transform 1s ease;
}
#cursorPoint {
  position: relative;
  left: -10px;
  top: 22px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}

#pivot {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 60px solid #9c9c9c;
  margin: auto;
  margin-top: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logsContainer {
  margin: 0;
  padding-top: 10px;
  height: 500px;
  background-color: #fdf4e3;
}
#resetBtn {
  display: flex;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  height: 25px;
  width: 100px;
}

.log {
  display: flex;
  margin: auto;
  width: 70%;
  background-color: #363636;
  color: #fdf4e3;
  list-style: none;
  margin-top: 10px;
  border-radius: 8px;
  height: 30px;
  padding-left: 10px;
  padding-top: 5px;
}

.demo {
  height: 200px;
  width: 200px;
  background-color: #ed3f27;
}

.demoDiv {
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
